<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="1" >
    <test name="Test">
        <classes>
            <!-- Add your test classes here -->
            <class name="com.example.tests.LoginTest" />
            <class name="com.example.tests.HomeTest" />
        </classes>
    </test>
</suite>

